@import "tailwindcss";

@layer components {
    .btn {
        display: inline-block;
        border-radius: .375rem;
        border-width: 1px;
    }
    .btn-primary {
        --tw-border-opacity: 1;
        border-color: rgb(18 18 18 / var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgb(18 18 18 / var(--tw-bg-opacity));
        text-align: center;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }
    .btn-sm {
        padding: .375rem 1rem;
        font-size: .875rem;
        line-height: 1.25rem;
        font-weight: 500;
    }
    .btn-lg {
        padding: 1rem 3rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    
    .social-icons {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .social-icons li {
        display: inline-block
    }
    .social-icons a {
        height: 6px;
        width: 6px;
        padding: 20px !important;
        border: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.375rem;
        background-color: white;
        transition: background-color 0.3s, color 0.3s;
        text-align: center;
        line-height: 9px;
        color: #000;
        border: 1px solid #000;
        svg {
            font-size: 0.75rem;
        }
        &:hover {
            background-color: #000;
            color: white;
        }
    }
    .social-icons-footer a {
        height: 10px;
        width: 10px;
        padding: 1px;
        border-radius: 9999px;
        svg {
            font-size: 1.125rem;
        }
    }
    .social-icons-footer a:hover {
        background-color: #000;
        color: white;
    }
    .social-icons-footer a {
        height: 10px;
        width: 10px;
        padding: 1px;
        border-radius: 9999px;
        svg {
            font-size: 1.125rem;
        }
    }
    .social-icons-footer a:hover {
        background-color: #000;
        color: white;
    }


      
}